/**
 * @file
 * Default module styling.
 *
 * This can be disabled in the block settings for this module.
 */

/* Responsive grid layout for images/videos */
#instafeed {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
}
#instafeed img,
#instafeed video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (min-width: 480px) {
  #instafeed {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 899px) {
  #instafeed {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Caption styling */
.post {
  position: relative;
}
.post .caption {
  opacity: 0;
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 2;
  -webkit-box-sizing: border-box;
  background-color: rgba(0,0,0,.4);
  -webkit-transition: opacity .3s ease-in-out;
  transition: opacity .3s ease-in-out;
  overflow: hidden;
  height: 100%;
}
.post:hover .caption {
  opacity: 1;
}
